<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          <div class="hero__left">
            <div class="hero__image">
              <img src="{{ site.hero.hero__image }}" alt="{{site.author.name}}'s Picture">
            </div>
          </div>
          <div class="hero__right">
            <h1 class="hero__title">{{ site.hero.hero__title }}</h1>
            <p class="hero__description">{{ site.hero.hero__description }}</p>
            <div class="hero__contact">
              {% include social-links.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->